<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pluggins 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="getCurrentLocation()">Get Current Position</ion-button>
  <br>
  Latitude: {{ latitude }}<br>
  Longitude: {{ longitude }}<br>

  <ion-button (click)="showAlert()">Mostrar alerta</ion-button>
<br>
<ion-button (click)="checkConnection()">Comprobar conexion</ion-button>
<br>
  Connectado: {{ conectado }}<br>
  conexion: {{ tipoConexion }}<br>

</ion-content>
